<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        alert('The student was updated successfully!');
        window.location.href = '/forupdating'; 
    </script>
</head>
<body>
    
</body>
</html>