*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 2rem 0 0 2rem;
    background-color: #EB5C76;
    color: black;
    display: grid;
    place-content: center;
    font-family: "Karla", serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
}

.headline{
    display: flex;
    align-items:flex-end;
}

.headline h1{
    margin: 0 0 0 0.5rem; 
}

.actions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

label{
    font-size: 1.35rem;
}

select{
    font-size: 1.2rem;
}

.names{
    height: 2rem;
    width: 9rem;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
}

button{
    border: none;
    font-size: 1.35rem;
    margin: 1rem 0;
    border-radius: .4rem;
    padding: 10px 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: .4rem;
    display: inline-block;
    margin-top: 1.3rem;
    font-family: inherit;
}

table{
    border-collapse: collapse;
    font-size: 1.4rem;
}
th,td{
    padding: 10px 20px;
}
